/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');*/
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), 
       local('MaterialIcons-Regular'), 
       url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display:inline-block
}

html {
  background-color: white;
}

.main-body {
  position:absolute;
  height:100%;
  width:100%;
  /*padding:5%;*/
  /*background-image:url("https://blackmooncrypto.com/i/header.jpg");*/
  background-color:white;
}

#graphic-design {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 2;
   -webkit-column-gap:   0px;
   -moz-column-count:    2;
   -moz-column-gap:      0px;
   column-count:         2;
   column-gap:           0px;
}

#graphic-design img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #graphic-design {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 1000px) {
  #graphic-design {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #graphic-design {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #graphic-design {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
  color: white;
  width: 250px;
  height: 100px;
  display:block;
  text-align: center;
  font-size:36px;
  z-index: 1;
}

.logo p {
  margin: 10px 10px;
}

.video {
  object-fit: fill;
}

.imgCont {
  position: relative;
}

.imgCont:hover .overlay {
  opacity: .7;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  transition: .5s ease;
  display:inline-block;
  line-height: 100%;
  overflow-y: hidden;
  background-color: #008CBA;
}

.text {
  width:100%;
  display: inline-block;
  padding:20px;
  font-size: 20px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 197, 185, .5);
  transition: background-color 0.5s;
}

.graphic-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(137, 162, 201, .5);
  transition: background-color 0.5s;
}

#video {
  text-align: center;
  position: relative;
}

#graphic {
  text-align: center;
  position: relative;
}

.tile-list {
  width:100%;
  max-height:200px;
  overflow-y: scroll;
}

.tileItem {
  width:100%;
  height:auto;
}

.ItemHeader {

}
.ItemImage {
}
.ItemBody {

}

.admin {
  width:100vw;
  height:100vh;
}

.image-container {
  text-align: center;
}

.gd-overlay {
  padding:20px;
}

.image-container img {
  max-width: 100%;
  height:auto;
}